@page
@model WebProject2.Pages.SessionInfoModel
@{
    ViewData["Title"] = "Session Information";
}

<h1>Session Information</h1>

<p>Time: @Model.Time</p>
<p>User Agent: @Model.UserAgent</p>
<p>Remote IP: @Model.RemoteIP</p>
